heredoc> export SANDBOX_HOME=/Users/mac/studyspace/sre-peterbean-ptdev

export AWS_ACCESS_KEY_ID=AKIAVFZ65D43CL3ZH4MC
export AWS_SECRET_ACCESS_KEY=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

export AWS_DEFAULT_REGION=us-west-2
export AWS_REGION=us-west-2

export KOPS_STATE_STORE=s3://us-east-1-ptdev-peterbean-kops-state-store
export ENV=ptdev

path_add KUBECONFIG kubeconfig
use asdf

export GITHUB_TOKEN=

