heredoc> export SANDBOX_HOME=/Users/mac/studyspace/sre-peterbean-ptdev

export AWS_ACCESS_KEY_ID=AKIAVFZ65D43LIQXYKNA
export AWS_SECRET_ACCESS_KEY=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

export AWS_DEFAULT_REGION=us-west-2
export AWS_REGION=us-west-2

export KOPS_STATE_STORE=s3://us-east-1-ptdev-peterbean-kops-state-store
export ENV=ptdev

path_add KUBECONFIG kubeconfig
use asdf

export GITHUB_TOKEN=
